/* Personalización del color verde */
.navbar-custom {
    background-color: #4CAF50; /* Este es un tono verde */
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-link,
.navbar-custom .nav-link {
    color: white; /* Color de los enlaces */
}

/* Botón con borde blanco */
.btn-outline-light {
    border-color: white;
    color: white;
}

.calendar-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
}

.calendar-table {
    width: 100%;
    border-collapse: collapse;
}

.calendar-table td {
    width: 14.28%; /* 100 / 7 para igualar los días de la semana */
    height: 80px;
    border: 1px solid #ddd;
    vertical-align: top;
}

/* Puedes agregar más estilos según lo necesites */
