{% load static %}.

<html>
    <head>
        <!-- FullCalendar CSS -->
        <link href='fullcalendar-scheduler/main.css' rel='stylesheet' />
    </head>
    <body>
        <div id="calendar"></div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <!-- FullCalendar JS -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.9/index.global.min.js'></script>    
        <script src="{% static 'facturacion_app/js/calendario.js' %}"></script>
    </body>
</html>
