{% extends 'base.html' %} 
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box-shadow añadido */
        }
    </style>
</head>
<body>

<div class="container mt-5">
    <div class="row">
        {% for factura in facturas %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    {{ factura.colegio.nombre }}
                </div>
                <div class="card-body">
                    <!-- Contenedor de información estática -->
                    <div id="info-{{ factura.idfacturas }}">
                        Nro Factura: {{ factura.idfacturas }} <br>
                        Total: {{ factura.total }} <br>
                        Fecha emisión: {{ factura.fecha_emision }} <br>
                        Nota crédito: <span id="nota-{{ factura.idfacturas }}">{{ factura.nota_credito }}</span> <br>
                        Estado Pago: <span id="estado-{{ factura.idfacturas }}">{{ factura.estado_pago }}</span> <br>
                        Fecha Pago: <span id="fecha-{{ factura.idfacturas }}">{{ factura.fecha_pago }}</span> <br>
                        <button onclick="hacerEditable('{{ factura.idfacturas }}')" class="btn btn-primary">Editar</button>
                    </div>
                <!-- Formulario de edición, inicialmente oculto -->
                <div id="form-{{ factura.idfacturas }}" style="display:none;">
                    <form action="{% url 'actualizar_factura' factura.idfacturas %}" method="post">
                        {% csrf_token %}
                        Nota crédito: <input type="text" name="nota_credito" value="{{ factura.nota_credito }}"> <br>
                        Estado Pago: <select name="estado_pago">
                            <option input type="text" value="Pagado" {% if factura.estado_pago == 'Pagado' %}selected{% endif %}>Pagado</option>
                            <option input type="text" value="No pagado" {% if factura.estado_pago == 'No pagado' %}selected{% endif %}>No pagado</option>
                        </select> <br>
                        Fecha Pago: <input type="date" name="fecha_pago" value="{{ factura.fecha_pago }}"> <br>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</body>
<script src="{% static 'facturacion_app/js/listarFactura.js' %}"></script>
</html>

{% endblock %}
