{% block content %}
{% load static %}
<h2>Registro de Trabajador</h2>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'facturacion_app/css/registro.css' %}">
    <title>Registro Trabajador</title>
</head>
<body>
    <div class="form-container sign-in-container" >
        <form method="post" action="{% url 'trabajador_registro' %}">
            {% csrf_token %}
            
            <label for="rut">RUT:</label>
            <input type="number" id="rut" name="rut" required>
            <br><br>
        
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
            <br><br>
        
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" required>
            <br><br>
        
            <label for="correo">Correo:</label>
            <input type="email" id="correo" name="correo" required>
            <br><br>
        
            <label for="password">Contrasena:</label>
            <input type="password" id="password" name="password" required>
            <br><br>
        
            <button type="submit">Registrar Trabajador</button>
        </form>
    </div>
</body>
</html>

{% endblock %}
